body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.form-container {
    background-color: #ffffff;
    max-width: 600px;
    margin: 25px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #00dbdb;
}

form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

form input[type="submit"] {
    font-size: 18px;
    background-color: #00cc1b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #2e9200;
}
